# AWS
aws/

# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.pyc
*.pyo
.env
.env.*
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data
data/

# VSCode
.vscode/

# OneDrive temp files
~$*

# txt files

*.txt